services:
  pg:
    image: postgres:16
    env_file:
      - .env.django
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always

  redis:
    image: redis:8-alpine
    ports:
      - "6379:6379"
    volumes:
      - ./redis_data:/data

volumes:
  pgdata:
  redis_data:

