services:
  backend:
    build:
      dockerfile: backend/Dockerfile
    env_file:
      .env.django
    command:
    - gunicorn
    - --access-logfile
    - "-"
    - --error-logfile
    - "-"
    - --log-level
    - debug
    - todo_manager.wsgi:application
    - --bind
    - 0.0.0.0:8000
    ports:
      - "8000:8000"

  redis:
    image: redis:8-alpine
    volumes:
      - ./redis_data:/data

  bot:
    build:
      context: .
      dockerfile: bot/Dockerfile
    env_file:
      - .env.bot
    command:
      - "python"
      - "-m"
      - "bot.main"
    depends_on:
      - redis
    ports:
      - "8080:8080"

  pg:
    image: postgres:16
    env_file:
      - .env.django
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always

volumes:
  pgdata:
  redis_data:
