server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: docker
    docker_sd_configs:
      - host: unix:///var/run/docker.sock
        refresh_interval: 5s
        filters:
          - name: status
            values: ["running"]

    relabel_configs:
      - source_labels: ["__meta_docker_container_name"]
        regex: "/(.*)"
        target_label: "container_name"

      - source_labels: ["__meta_docker_container_id"]
        target_label: "container_id"

      - source_labels: ["__meta_docker_container_label_com_docker_compose_service"]
        target_label: "service"

      - source_labels: ["__meta_docker_container_label_com_docker_compose_project"]
        target_label: "project"

      - source_labels: ["__meta_docker_container_label_com_docker_compose_image"]
        target_label: "image"

      - source_labels: ["__meta_docker_container_log_path"]
        target_label: "log_path"
        replacement: "/var/lib/docker/containers/*/${__meta_docker_container_id}*.log"

      - target_label: "job"
        replacement: "docker"

    pipeline_stages:
      - json:
          expressions:
            output: log
            stream: stream
            attrs: attrs

      - timestamp:
          source: time
          format: RFC3339Nano

      - labels:
          stream:
          level:
          service:

      - output:
          source: output
